/* You can add global styles to this file, and also import other style files */

div.typical-component-n {
    width: 1800px;
    height:550px;
    border: 1px solid grey;
    background-color: lightcyan;
    padding:10px;
    display:flex;
    justify-content: space-between;
}

div.typical-component-nn {
    width: 540px;
    height:530px;
    border: 1px solid grey;
    background-color: lightyellow;
    padding:10px;
}
