<div class="typical-component-nn ">

    <p>a33 works!</p>
    <p>Modal</p>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                            #dp="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

    <hr>

    <pre>{{closeResult}}</pre>

    <p>Toast</p>

    <p>
        In this demo, you can show a toast by clicking the button below. It will hide itself after a 5 seconds delay
        unless
        you simply hover it with your mouse.
    </p>
    <button class="btn btn-primary" (click)="show = true">
        Click me to show a toast
    </button>
    <hr *ngIf="show">
    <ngb-toast *ngIf="show" header="Autohide can be cancelled" [delay]="5000" [autohide]="autohide"
        (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="show = false; autohide = true"
        [class.bg-warning]="!autohide">
        <div *ngIf="autohide">
            Try to mouse hover me.
        </div>
        <div *ngIf="!autohide">
            I will remain visible until you leave again.
        </div>
    </ngb-toast>


    <p>Toast 2.Toast management service</p>


</div>
